html {
  height:100%;
  background-image:url('https://data.whicdn.com/images/310997235/original.jpg');
  background-size: cover;
}
#banner{
  padding-top: 22%;
  font-family:Damion ;
  font-size: 35px;
  display: flex;
  justify-content: center;
  color: #9370DB;
}
#heading {
  height: 100%;
  font-family: Monoton;
  display: flex;
  justify-content: space-around;
  color: #0066CC;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  position: fixed; /*Set the navbar to fixed position */ 
  top: 0; /* position the navbar at the top of the page */
  left: 0;
  width: 100%; /* full width */
  
  
}
.navbar {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #9370DB;
  font-family: Niconne;
}
/* change background colors on mouse-over */
.navbar a:hover {
  color: white;
  background: #9370DB;
}
#about-content {
  display: flex;
  justify-content: space-around;
  margin-top: 22%;
}
img {
  border-radius: 50%;
  border: solid 5px #9370DB;
}
.my-description {
  background: white;
  margin: 3%;
  padding: 4%;
  font-family: Playball;
}
.project-container {
  margin-top: 20%;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
span {
  background: #9370DB;
  width: 30%;
  height: 60%;
  margin: 2%;
  padding: 2%;
  font-family: Cormorant+Unicase;
  color: white;
  align-items: center;
}
